[run]
source = mailparser/

[report]
omit = mailparser/version.py
    mailparser/__main__.py

exclude_lines =
    pragma: no cover
    except OSError
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
