# python_template defaults
/env/
/build/
/dist/
*.egg-info
*.pyc
/pip-wheel-metadata/
.pytest_cache/
coverage.xml
coverage.json
.coverage
htmlcov/
.mypy_cache/
.eggs/
.*.tgt
.idea/
.vscode/
junit.xml
/venv/
/__pycache__/
/*.egg-info/
.DS_Store
VERSION
