language: python

python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"

# command to install dependencies
install: 
    - pip install -r requirements.txt
    - pip install coveralls

# command to run tests
script: 
    - coverage run --source=mailparser/ --omit=mailparser/__main__.py tests/test_mail_parser.py
    - python tests/test_main.py
    - python -m mailparser -v
    - python -m mailparser -h

after_success:
    coveralls
